API_PREFIX=/v1
API_TITLE=Bandjacks API

ATTACK_INDEX_URL=https://raw.githubusercontent.com/mitre-attack/attack-stix-data/master/index.json

NEO4J_URI=bolt://localhost:7687
NEO4J_USER=neo4j
NEO4J_PASSWORD=neo4j

OPENSEARCH_URL=http://localhost:9200
OS_INDEX_NODES=bandjacks_attack_nodes-v1

ADM_MODE=schema
ADM_BASE_URL=http://adm-validate:8080
ADM_SPEC_MIN=3.3.0